@media screen{
    html {
        font-size: 25px;
    }


    #question{
        font-size: 40px;
        font-weight: 500;
        color: #8ca456;
    }


    #slc {
        width: 70vw;
    }
}


@media screen and ( max-width: 768px ) {
    html {
        font-size: 18px;
    }


    #question{
        font-size: 30px;
        font-weight: 500;
        color: #8ca456;
    }


    #slc {
        width: 80vw;
    }
}


@media screen and ( max-width: 450px ) {
    html {
        font-size: 12px;
    }


    #question{
        font-size: 20px;
        font-weight: 500;
        color: #8ca456;
    }


    #slc {
        width: 100vw;
    }
}


@keyframes appearing {
    from { font-size: 0px; };
    to { font-size: 40px; };
}


* {
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.appearing {
    animation-duration: 2s;
    animation-name: appearing;
}

.tag1 {
    margin-bottom: 5vh;
}

.tag2 {
    margin: 5vh auto;
}

.tag3 {
    margin-top: 5vh;
}

.btn {
    text-align: center;
    min-width: fit-content;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    border: 4px ridge #8ca456;
    cursor: pointer;
    white-space: nowrap;
}

.for-any-users {
    height: 50px;
    width: 30vw;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: #dbe5ee;
    height: 100vh;
    width: 100vw;
}

#question{
    font-weight: 500;
    color: #8ca456;
}

#slc {
    appearance: none;
    height: 48px;
    color: #8ca456;
    text-align: center;
    font-size: 24px;
    border-radius: 20px;
    border: 4px ridge #8ca456;
    cursor: pointer;
}

#nxt {
    height: 30px;
    width: 20vw;
    min-width: fit-content;
    padding: 5px 5px 5px 5px;
}