.heading {
    color                           : var( --main-color );
    font-weight                     : 600;
}

.login {
    display                         : none;
}

.item {
    display                         : flex;
    margin                          : 0 auto;
    max-width                       : 1200px;
    padding                         : 100px 20px 50px;
}

/*************************************************/
/* Image section */

.item-img-part {
    border                          : 3px solid var( --bg-color3 );
    display                         : flex;
    flex-direction                  : column;
}

.item-img-part > * {
    padding                         : 10px 0px;
}

.add-img-header {
    align-items                     : center;
    display                         : flex;
    justify-content                 : space-between;
}

.img-added {
    width                           : 500px;
}

.img-added > * {
    aspect-ratio                    : 20 / 19;
    width                           : 100%;
}

/*************************************************/
/* Information section */

.item-format-part {
    align-items                     : center;
    border                          : 3px solid var( --bg-color3 );
    display                         : flex;
    flex-direction                  : column;
    justify-content                 : space-evenly;
    padding                         : 100px 40px;
    width                           : 100%;
}

.item-data {
    width                           : 100%;
    display                         : grid;
    grid-template-columns           : repeat( 2, 1fr );
    grid-gap                        : 1.5rem;
}

.item-format-part .btn{
    width                           : 100%;
}

/*************************************************/
/* For tablet and phone display */

@media screen and ( max-width: 900px ) {

    .item {
        flex-direction              : column;
        width                       : 100%;
    }

    .img-added {
        width                       : 100%;
    }

    .item-format-part {
        grid-gap                    : 20px;
    }

    .item-data {
        grid-gap                    : 0px;
        grid-template-columns       : none;
        grid-template-rows          : repeat( 2, 1fr );
    }

}
