.heading {
    color                           : var( --main-color );
    font-weight                     : 600;
    padding-bottom                  : 10px;
}

.login {
    display                         : none;
}

/*************************************************/
/* Orders section */

.items-orders {
    display                         : flex;
    flex-direction                  : column;
    grid-gap                        : 1.5rem;
    margin                          : 0 auto;
    max-width                       : 1200px;
    padding                         : 100px 20px 50px;
}

#orders-container {
    overflow-y                      : scroll;
}

.order-table {
    width                           : 100%;
}

.order-table tr td {
    text-align                      : center;
}

/*************************************************/
/* Item selling section */

.items-selling {
    margin-top              : 4rem;
}

.containers {
    background              : var( --bg-color2 );
    align-items             : center;
}

#items-container {
    overflow-x              : scroll;
}

#orders-container {
    overflow-y              : scroll;

}

.item-box {
    width                   : 200px;
    height                  : 280px;
    margin                  : 35px 25px;
    display                 : inline-block;
    white-space             : normal;
    text-align              : center;
    padding                 : 20px 30px;
}

.item-box:hover {
    transform               : scale( 1.25 ) perspective( 1px );
    z-index                 : 1000;
    overflow                : visible;
    background              : var( --bg-color1 );
    transition              : 0.4s;
}

.item-box img {
    width                   : 90px;
    color                   : var( --text-color );
    aspect-ratio            : 2 / 3;
}

.item-box h3 {
    margin                  : 4px 0 10px;
    color                   : var( --main-color );
    font-size               : 1.2rem;
}

.item-box p {
    color                   : var( --text-color );
    line-height             : 1.7;
}



.products {
    align-items                     : center;
    background                      : var( --bg-color2 );
    border-radius                   : 6px;
    display                         : grid;
    grid-template-columns           : repeat(auto-fit, 220px);
    justify-content                 : space-between;
    row-gap                         : 20px;
}