.heading {
    color                           : var( --main-color );
    font-weight                     : 600;
    padding                         : 10px;
}

.containers {
    align-items                     : center;
    overflow-y                      : scroll;
}

.login {
    display                         : none;
}

.items-orders, .items-selling {
    display                         : flex;
    flex-direction                  : column;
    margin                          : 0 auto;
    max-width                       : 1200px;
    padding                         : 100px 20px 50px;
}

/*************************************************/
/* Orders section */

.items-orders {
    max-height                      : 600px;
}

.order-table {
    text-align                      : center;
    width                           : 100%;
}

.order-table thead{
    background-color                : #2c5e77;
    position                        : sticky;
    top                             : 0;
}

.order-table tbody tr td {
    background                      : var( --bg-color2 );
}

/*************************************************/
/* Item selling section */

.items-selling {
    max-height                      : 1200px;
}

.heading-and-adding {
    display                         : flex;
    justify-content                 : space-between;
}

#add-item {
    background                      : var( --bg-color3 );
    border-radius                   : 6px;
    font-size                       : var( --h3-font );
    margin                          : 5px;
    padding                         : 5px 10px;
}

.products {
    background                      : var( --bg-color2 );
    border-radius                   : 6px;
    display                         : grid;
    grid-template-columns           : repeat(auto-fit, 220px);
    justify-content                 : space-between;
    row-gap                         : 20px;
}

.item-non-avail, .item-box {
    height                          : 300px;
    margin                          : 10px;
    text-align                      : center;
    width                           : 200px;
}

.item-box:hover {
    background                      : var( --bg-color1 );
    transform                       : scale( calc( 11/10 ), calc( 16/15 ) ) perspective( 1px );
    transition                      : 0.4s;
    z-index                         : 100;
}

.item-non-avail img, .item-box img {
    aspect-ratio                    : 20 / 19;
    width                           : 200px;
}

.item-non-avail h3, .item-box h3 {
    color                           : var( --main-color );
    margin                          : 4px 0 10px;
}

.item-box p {
    color                           : var( --text-color );
    line-height                     : 1.7;
}


