* {
    padding                 : 0;
    margin                  : 0;
    box-sizing              : border-box;
    font-family             : 'Poppins', sans-serif;
    scroll-behavior         : smooth;
    list-style              : none;
    text-decoration         : none;
}

:root {
    --main-color            : #ff702a;
    --text-color            : #fff;
    --bg-color1             : #1e1c2a;
    --bg-color2             : #494949;
    --big-font              : 3.5rem;
    --h2-font               : 2.25rem;
    --h3-font               : 2rem;
    --p-font                : 0.9rem;
}

::selection {
    background              : var( --main-color );
    color                   : #fff; 
}

body {
    color                   : var( --text-color );
    background              : var( --bg-color1 );
}

header {
    position                : fixed;
    top                     : 0;
    right                   : 0;
    width                   : 100vw;
    z-index                 : 1000;
    display                 : flex;
    align-items             : center;
    justify-content         : space-between;
    padding                 : 10px 4vw ;
    /*background              : var( --bg-color2 );*/
}

.logo {
    color                   : var( --main-color );
    font-weight             : 600;
    font-size               : 2.4rem;
}