@import "Overall_style.css";

.login{
    color : var(--text-color);
    font-size: 1.1rem;
    padding : 10px 1.2vw;
    font-weight: 500;
}

.login:hover{
    cursor: pointer;
    color: var( --main-color );
    transition: 0.4s;
}

#menu-icon{
    font-size: 2rem;
    cursor:pointer;
    display:none;
}

section{
    padding : 70px 17vw;
}

.item{
    width : 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}

#item-img img{
    aspect-ratio: 2 / 3;
    width: 400px;
}

#item-data h1{
    font-size: var(--big-font);
    color: var(--main-color);
}

.btn{
    display: inline-block;
    padding : 10px 20px;
    background : var(--main-color);
    color:#fff;
    border-radius: 0.5rem;
}

.btn:hover{
    cursor:pointer;
    transform : scale(1.2)translateY(10px);
    transition : 0.4s;
}