.heading {
    color                           : var( --main-color );
    font-weight                     : 600;
    padding                         : 10px 0px;
}

.box {
    background                      : var( --bg-color3 );
    border-radius                   : 6px;
    box-shadow                      : 0 2px 4px 4px rgba(255, 255, 255, 0.313);
    width                           : 100%;
    padding                         : 10px 30px 20px;
}

/*************************************************/
/* Displaying section */

.display-container {
    display                         : flex;
    flex-direction                  : column;
    grid-gap                        : 50px;
    margin                          : 0 auto;
    max-width                       : 1200px;
    padding                         : 100px 20px 50px;
}

/*************************************************/
/* Item ordered ID section */

.item {
    display                         : flex;
    flex-direction                  : column;
    grid-gap                        : 1.5rem;
    width                           : 100%;
}

.item-data {
    display                         : flex;
    grid-gap                        : 50px;
}

.item-data img {
    aspect-ratio                    : 20 / 19;
    width                           : 100px;
}

/*************************************************/
/* Recommend section */

.options-display {
    min-width                       : 100%;
    width                           : 100%;    
}