.heading {
    color                           : var( --main-color );
    font-weight                     : 600;
    padding                         : 10px 0px;
}

.box {
    background                      : var( --bg-color3 );
    border-radius                   : 6px;
    box-shadow                      : 0 2px 4px 4px rgba(255, 255, 255, 0.313);
    width                           : 100%;
    padding                         : 10px 30px 20px;
}

/*************************************************/
/* Displaying section */

.display-container {
    display                         : flex;
    grid-gap                        : 50px;
    margin                          : 0 auto;
    max-width                       : 1200px;
    padding                         : 100px 20px 50px;
}

/*************************************************/
/* Recommend section */

.options-display {
    min-width                       : 300px;
    width                           : 300px;    
}

/*************************************************/
/* Item section */

.item {
    display                         : flex;
    flex-direction                  : column;
    grid-gap                        : 1.5rem;
    width                           : 100%;
}

.item-data {
    display                         : flex;
    grid-gap                        : 50px;
}

.item-data img {
    aspect-ratio                    : 20 / 19;
    width                           : 400px;
}

.item-information {
    align-items                     : center;
    display                         : grid;
    grid-template-rows              : 85% 15%;
    width                           : 100%;
}

.information-grid {
    align-items                     : center;
    display                         : grid;
    grid-template-rows              : repeat( 4, 50px);
}

/*************************************************/
/* Pop-up confirmation */

.pop-up {
    align-items                     : center;
    background-color                : rgba(0, 0, 0, 0.8);
    display                         : flex;
    height                          : 100vh;
    justify-content                 : center;
    left                            : 0px;
    position                        : fixed;
    top                             : 0px;
    width                           : 100vw;
    z-index                         : 1001;
}

.pop-up-box {
    position                        : relative;
    background                      : var( --bg-color2 );
    display                         : flex;
    padding                         : 30px;
}

.pop-up-box form *:not(input) {
    padding                         : 10px;
}

.exit {
    position                        : absolute;
    font-size                       : 1.5rem;
    top                             : 0px;
    right                           : 10px;
}

/*************************************************/
/* For tablet and mobile display */

@media screen and ( max-width: 900px ) {

    /*************************************************/
    /* Displaying section */
    
    .display-container {
        flex-direction              : column-reverse;
    }

    /*************************************************/
    /* Recommend section */

    .options-display {
        min-width                   : 100%;
        width                       : 100%;    
    }
    
    /*************************************************/
    /* Item displaying section */
    
    .item-data {
        flex-direction              : column;
        align-items                 : center;
    }

    .item-data img {
        width                       : 100%;
    }

}