.login {
    display                         : none;
}

/*************************************************/
/* Signing section */

.access-display {
    margin                          : 0 auto;
    max-width                       : 500px;
    padding                         : 150px 20px 50px;
}

.signing-boxes {
    display                         : flex;
    flex-direction                  : column;
}

.signing-choosing {
    display                         : grid;
    grid-template-columns           : repeat( 2, 1fr );
    height                          : 50px;
}

.signing-form {
    background                      : var( --bg-color3 );
    box-shadow                      : 0px 6px 4px 4px rgba(255, 255, 255, 0.313);
    padding                         : 25px;
    transition                      : 0.5s ease;
    z-index                         : 2;
}

/*************************************************/
/* Tab part */

.tab {
    align-items                     : center;
    background                      : var( --bg-color3 );
    display                         : flex;
    padding-left                    : 20px;
    transition                      : 0.5s ease;
}

.hidden {
    cursor                          : pointer;
    opacity                         : 0.5;
}

.hidden:hover {
    opacity                         : 0.75;
}

.tab#left:not(.hidden) {
    border-top-left-radius          : 20px;
    box-shadow                      : -3px -2px 4px 2px rgba(255, 255, 255, 0.313);
}

.tab.hidden#left {
    box-shadow                      : -3px -2px 4px 2px rgba(0, 0, 0, 1);;
}

.tab#right:not(.hidden) {
    border-top-right-radius         : 20px;
    box-shadow                      : 3px -2px 4px 2px rgba(255, 255, 255, 0.313);
}

.tab.hidden#right {
    box-shadow                      : 3px -2px 4px 2px rgba(0, 0, 0, 1);
}

/*************************************************/
/* Signing box part */

.signing {
    display                         : flex;
    flex-direction                  : column;
}

.error p{
    color                           : red;
}

input {
    width                           : 100%;
    margin-bottom                   : 30px;
}



